* {
    --LG-Normal: #A3FFA8;
    --SB-Normal: #827AE9;
    --SB-Normal-Hover: #756ED2;
    --SB-Normal-Active: #6862BA;
    --S0: #FFFFFF;
    --S30: #EBEBED;
    --S50: #C2C2C6;
    --S100: #7B7B83;
    --S300: #5E5D68;
    --S500: #43424F;
    --S600: #373643;
    --S650: #2E2D39;
    --S700: #262533;
    --S750: #201F2B;
}