@import url(nullstyle.css);
@import url(components.css);

section {
    margin: 20px 10% 30px;
}

.section-inputs .input-container{
    width: 300px;
    margin-bottom: 15px;
}

.section-select .select-container {
    width: 300px;
}

.section-filter .filters {
    width: 300px;
}

.section-social-networks .social-networks-container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    row-gap: 15px;
    column-gap: 20px;
}